# Archivos y directorios generados por el entorno virtual
venv/
venv-dev-1/
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos generados por la construcción de paquetes
dist/
build/
*.egg

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de configuración de Python
*.env
.env/
*.pkl
*.db
*.sqlite3

# Archivos de configuración de cobertura de pruebas
.coverage
coverage.xml
*.cover

# Archivos temporales
*.log
*.tmp
*.swp

# Configuraciones específicas del entorno
*.pyproj
*.sublime-project
*.sublime-workspace

# Archivos de base de datos
*.db
*.sqlite
*.sqlite3
